
<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 10px;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- JobId Column -->
    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Id </th>
      <td mat-cell *matCellDef="let fabrication"> {{fabrication.jobId}} </td>
    </ng-container>
  
    <!-- Delivery Date Column -->
    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
      <td mat-cell *matCellDef="let fabrication"> {{fabrication.deliveryDate.split('T')[0]}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Lamination">
      <th mat-header-cell *matHeaderCellDef> Lamination </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.laminationStatus"> {{fabrication.laminationStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Punching">
      <th mat-header-cell *matHeaderCellDef> Punching </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.punchingStatus"> {{fabrication.punchingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="UV">
      <th mat-header-cell *matHeaderCellDef> UV </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.uvStatus"> {{fabrication.uvStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Foiling">
      <th mat-header-cell *matHeaderCellDef> Foiling </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.foilingStatus"> {{fabrication.foilingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Folding">
      <th mat-header-cell *matHeaderCellDef> Folding </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.foldingStatus"> {{fabrication.foldingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Pinning">
      <th mat-header-cell *matHeaderCellDef> Pinning </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.pinningStatus"> {{fabrication.pinningStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Stitching">
      <th mat-header-cell *matHeaderCellDef> Stitching </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.stitchingStatus"> {{fabrication.stitchingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Binding">
      <th mat-header-cell *matHeaderCellDef> Binding </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.bindingStatus"> {{fabrication.bindingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Pasting">
      <th mat-header-cell *matHeaderCellDef> Pasting </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.pastingStatus"> {{fabrication.pastingStatus}} </td>
    </ng-container>

    <!-- Delivery Date Column -->
    <ng-container matColumnDef="Cutting">
      <th mat-header-cell *matHeaderCellDef> Cutting </th>
      <td mat-cell *matCellDef="let fabrication" [class]="fabrication.cuttingStatus"> {{fabrication.cuttingStatus}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      
      <td mat-cell *matCellDef="let element"> 
        <mat-select placeholder="Select Size">
          <mat-option *ngFor="let size of paperSizes" [value]="size">{{size}}</mat-option>
        </mat-select>
      </td>
    </ng-container>
   -->
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Gsm </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-select placeholder="Select GSM">
          <mat-option *ngFor="let gsm of gsms" [value]="gsm">{{gsm}}</mat-option>
        </mat-select> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
   -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="float:left"></mat-paginator>
  
</mat-card>
