table {
    width: 100%;
    color: white;
  }

td:nth-child(1) {
    font-size: 1em;
    color: white;
    font-weight: bold;
    background-color: #6a5082;
}

td.mat-cell:first-child {
    padding: 5px !important;
}

.mat-header-cell {
    text-align: center;
    background-color: #6a5082;
    color: white;
    font-size: 1em;
}

.mat-cell {
    // text-align: center;
    border: 1px solid white;
}

.Completed {
    background: #19ad19;
    border: 1px solid white;
    text-align: center;

}

.Running {
    background: #de9387;
    border: 1px solid white;
    text-align: center;

}

td:empty {
    background: grey;
    border: 1px solid white;
}

