
    <mat-card *ngIf="formStatus; else elseBlock">
      

      
      <form novalidate (ngSubmit)="onSubmit(myForm)" [formGroup]="myForm">
        <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="5%"
        fxLayoutGap.xs="0">
        <mat-form-field fxFlex="50%" style="font-weight: bold;">
            <mat-label >Job Id</mat-label>
            <input matInput type="text" formControlName="jobId"  [value]="UniqueId" readonly>   
        </mat-form-field>
        <mat-form-field fxFlex="50%">
            <mat-label>Vendor Name</mat-label>
            <input matInput id="vendor" type="text" formControlName="vendor" value="Nike" placeholder="Enter vendor name" [errorStateMatcher]="matcher">   
            <mat-error *ngIf="myForm.controls.vendor.invalid && (myForm.controls.vendor.dirty || myForm.controls.vendor.touched)"
                    >
                <mat-error *ngIf="myForm.controls.vendor.errors.required">
                    Vendor is required.
                </mat-error>
                <mat-error  *ngIf="myForm.controls.vendor.errors.minlength">
                        Vendor must be at least 4 characters long.
                </mat-error>
    
            </mat-error>
        </mat-form-field>
        </div>

        <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="5%"
        fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50%">
                <mat-label>Paper Type</mat-label>
                <mat-select formControlName="paperType" value="Sillica" placeholder="Paper Type">
                <mat-option *ngFor="let paperType of paperTypes" [value]="paperType">{{paperType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.paperType.invalid && (myForm.controls.paperType.dirty || myForm.controls.paperType.touched)">
                <mat-error *ngIf="myForm.controls.paperType.errors.required">
                    Please select paper type.
                </mat-error>
            </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>Plates</mat-label>
                <input matInput type="number" value="283" formControlName="plates" placeholder="Enter number of plates">
            <mat-error *ngIf="myForm.controls.plates.invalid && (myForm.controls.plates.dirty || myForm.controls.plates.touched)">
                <mat-error *ngIf="myForm.controls.plates.errors.required">
                    Please enter no of papers required
                </mat-error>
            </mat-error>
            </mat-form-field>

        </div>
        
        <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="5%"
        fxLayoutGap.xs="0">
                
            <mat-form-field fxFlex="50%">
                <mat-label>Paper Size</mat-label>
                <mat-select formControlName="paperSize" value="23*36" placeholder="Paper Size">
                <mat-option *ngFor="let paperSize of paperSizes" [value]="paperSize">{{paperSize}}</mat-option>
                </mat-select>
                <mat-error *ngIf="myForm.controls.paperType.invalid && (myForm.controls.paperType.dirty || myForm.controls.paperType.touched)">
                <mat-error *ngIf="myForm.controls.paperType.errors.required">
                    Please select paper type.
                </mat-error>
            </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>GSM</mat-label>
                <mat-select formControlName="gsm" value="100" placeholder="Paper GSM">
                <mat-option *ngFor="let gsm of gsms" [value]="gsm">{{gsm}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.paperType.invalid && (myForm.controls.paperType.dirty || myForm.controls.paperType.touched)">
                <mat-error *ngIf="myForm.controls.paperType.errors.required">
                    Please select paper type.
                </mat-error>
            </mat-error>
            </mat-form-field>
        </div>

        <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="5%"
        fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50%">
                <mat-label>Quality</mat-label>
                <mat-select formControlName="quality" value="Sillica" placeholder="Select quality" >
                <mat-option *ngFor="let paperType of paperTypes" [value]="paperType">{{paperType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.quality.invalid && (myForm.controls.quality.dirty || myForm.controls.quality.touched)">
                <mat-error *ngIf="myForm.controls.quality.errors.required">
                    Please select quality type.
                </mat-error>
            </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>Print Type</mat-label>
                <mat-select formControlName="printMode" value="Type A Machine" placeholder="Print Mode" >
                <mat-option *ngFor="let printMode of printModes" [value]="printMode">{{printMode}}</mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls.printMode.invalid && (myForm.controls.printMode.dirty || myForm.controls.printMode.touched)">
                <mat-error *ngIf="myForm.controls.printMode.errors.required">
                    Please select print mode.
                </mat-error>
            </mat-error>
            </mat-form-field>
        </div>
        
        <div fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="5%"
        fxLayoutGap.xs="0">
            
            <mat-form-field fxFlex="50%">
                <mat-label>Expected Delivery</mat-label>
                <input matInput [matDatepicker]="picker" value="01/22/2019" formControlName="expectedDeliveryDate" placeholder="Choose a date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="50%">
                <mat-label>Others</mat-label>
                <input matInput type="text" formControlName="extras" value="Nothing" placeholder="Others">
            <!-- <mat-error *ngIf="myForm.controls.paperType.invalid && (myForm.controls.paperType.dirty || myForm.controls.paperType.touched)">
                <mat-error *ngIf="myForm.controls.paperType.errors.required">
                    Please select paper type.
                </mat-error>
            </mat-error> -->
            </mat-form-field>
        </div>
        <br>
        <button mat-flat-button color="primary" [disabled]="myForm.invalid" type="submit">Submit</button>
      </form>
  </mat-card>

  <ng-template #elseBlock>
        <mat-card>
        <h3>Your Form is succesfully submitted. Please go to next step</h3>
        </mat-card>
   </ng-template>