<mat-card>
  <!-- <mat-card-title>Job Lists</mat-card-title> -->
  <mat-card-title style="font-size: 2.2em !important;
  position: relative;
  left: 3%;
  color: slategray;">Jobs</mat-card-title>
  <mat-form-field style="position: relative;left: 3%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 10px;">
    <ng-container matColumnDef="jobId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Id </th>
      <td mat-cell *matCellDef="let product"> {{product.jobId}} </td>
    </ng-container>
    
    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </th>
      <td mat-cell *matCellDef="let product"> {{product.vendor}} </td>
    </ng-container>

    <ng-container matColumnDef="paperType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Paper Type </th>
      <td mat-cell *matCellDef="let product"> {{product.paperType}} </td>
    </ng-container>

    <ng-container matColumnDef="paperSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
      <td mat-cell *matCellDef="let product"> {{product.paperSize}} </td>
    </ng-container>

    <ng-container matColumnDef="gsm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GSM </th>
      <td mat-cell *matCellDef="let product"> {{product.gsm}} </td>
    </ng-container>
    
    <ng-container matColumnDef="plates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plates </th>
      <td mat-cell *matCellDef="let product"> {{product.plates}} </td>
    </ng-container>

    <ng-container matColumnDef="plateType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plate Type </th>
      <td mat-cell *matCellDef="let product"> {{product.plateType}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="rimWeight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rim Weight </th>
      <td mat-cell *matCellDef="let product"> {{product.rimWeight}} </td>
    </ng-container> -->

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
      <td mat-cell *matCellDef="let product"> {{product.unitPrice}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="specialPaper">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Special Paper </th>
      <td mat-cell *matCellDef="let product"> {{product.specialPaper}} </td>
    </ng-container> -->

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let product"> {{product.workingStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="printMode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Print Mode </th>
      <td mat-cell *matCellDef="let product"> {{product.printMode}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let product"> {{product.description}} </td>
    </ng-container>

    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
      <td mat-cell *matCellDef="let product"> {{product.expectedDeliveryDate.split('T')[0]}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let product"> 
        <!-- <button mat-flat-button style="background: #6276e2">Edit</button> -->
        <!-- <span>&nbsp;</span> -->
        <!-- <br> -->
        <button mat-flat-button style="background: #ec4d45" (click)="removeProduct(product.jobId, product.paperType, product.plates)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="float:left"></mat-paginator>

</mat-card>
