<div style="padding:25px;">
  <mat-horizontal-stepper>
    <mat-step label="Step 1" state="phone">
      <p>Put down your phones.</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 2" state="phone">
      <p>Put down your phones.</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 3" state="phone">
      <p>Put down your phones.</p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 4" state="chat">
      <p>Socialize with each other.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 5" state="chat">
      <p>About to complete.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 6">
      <p>You're welcome.</p>
    </mat-step>
  
    <!-- Icon overrides. -->
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>

  <mat-card class="example-card" style="width:340px; height: 220px;">
    <mat-card-title style="text-align:center;font-weight: bold;">Virtual Card</mat-card-title>
    <img mat-card-image src="assets/images/face-4.jpg" alt="Photo of a Shiba Inu" style="width:100px; height: 100px; border-radius: 50%;margin: 15px 50px 0px 0px;">
    <mat-card-content style="display:inline-block;">
      <p>Name: ALen Doe</p>
      <p>Job ID:AD345</p>
      <p>Vendor Name:Developer</p>
    </mat-card-content>
    <p>Job Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

  </mat-card>

  
</div> 

