.progress_report {
    display: inline-block;
    padding: 0px !important;
    margin-left: 3%;
    margin-top: 30px;
    width: 20%;
    height: 230px;
    text-align: center;
    font-weight: bold;
    color: rgb(128, 119, 119);
}

.mat-card-title {
    padding: 9px;
    font-size: 2em !important;
    color: black;
}

hr {
    border: 2px solid rgba(221, 214, 214, 0.904);
}

.mat-card-content {
    margin-bottom: 30px;
}

.mat-card-footer {
    font-size: 1em;
}

button {
    width: 120px !important;
    height: 120px !important;
    display: inline-block;
    margin-left: 17%;
    margin-top: 4%;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  td:nth-child(n + 2) {
      border-radius: 1.54em;
  }

  td:empty {
    background-color: rgb(221, 220, 220);
  }
  td:nth-child(1) {
      font-size: 1em;
      color: white;
      font-weight: bold;
      background-color: rgb(109, 102, 106);
  }
  th {
      background: lightslategrey;
      color: white;
  }

  .Running {
      color: white;
      background: rgb(239, 180, 44);
  }
  .Completed {
      color: white;
      background: rgb(67, 196, 67);
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */