<div style="padding:20px;">
  <mat-card class="progress_report">
      <mat-card-title>Weekly</mat-card-title>
      <mat-card-content>
        <h1 style="color: #31B9F6;">25</h1>
        <p>Due Task</p>
      </mat-card-content>
      <hr>
      <mat-card-footer>Completed: 8</mat-card-footer>
  </mat-card>
  <mat-card class="progress_report">
      <mat-card-title>Overdue</mat-card-title>
      <mat-card-content>
        <h1 style="color: #F44336;">5</h1>
        <p>Tasks</p>
      </mat-card-content>
      <hr>
      <mat-card-footer>Yesterday's over: 8</mat-card-footer>
  </mat-card>
  <mat-card class="progress_report">
    <mat-card-title>Issues</mat-card-title>
    <mat-card-content>
      <h1 style="color: #FF9800;">6</h1>
      <p>Open</p>
    </mat-card-content>
    <hr>
    <mat-card-footer>Total Printing: 126</mat-card-footer>
  </mat-card>

  <mat-card class="progress_report">
    <mat-card-title>Printing</mat-card-title>
    <mat-card-content>
      <h1 style="color: #607D8B;">6</h1>
      <p>Proposals</p>
    </mat-card-content>
    <hr>
    <mat-card-footer>Implemented: 126</mat-card-footer>
  </mat-card>
  
  <br><br>
  <!-- <mat-card style="width: 95%;position: relative;">
    
    <mat-card-title>Printing Status</mat-card-title>
    <table>
      <tr>
        <th>Job Id</th>
        <th>Delivery Date</th>
        <th>Lamination</th>
        <th>Punching</th>
        <th>UV</th>
        <th>Foiling</th>
        <th>Folding</th>
        <th>Pinning</th>
        <th>Stitching</th>
        <th>Binding</th>
        <th>Pasting</th>
        <th>Cutting</th>
      </tr>
      <tr *ngFor="let fab of fabrication">
        <td>{{fab.jobId}}</td>
        <td>{{fab.deliveryDate.split('T')[0]}}</td>
        <td *ngIf="fab.laminationStatus !== null" [class]='fab.laminationStatus'>{{fab.laminationStatus}}</td>
        <td *ngIf="fab.punchingStatus !== null" [class]='fab.punchingStatus'>{{fab.punchingStatus}}</td>
        <td *ngIf="fab.uvStatus !== null" [class]='fab.uvStatus'>{{fab.uvStatus}}</td>
        <td *ngIf="fab.foilingStatus !== null" [class]='fab.foilingStatus'>{{fab.foilingStatus}}</td>
        <td *ngIf="fab.foldingStatus !== null" [class]='fab.foldingStatus'>{{fab.foldingStatus}}</td>
        <td *ngIf="fab.pinningStatus !== null" [class]='fab.pinningStatus'>{{fab.pinningStatus}}</td>
        <td *ngIf="fab.stitchingStatus !== null" [class]='fab.stitchingStatus'>{{fab.stitchingStatus}}</td>
        <td *ngIf="fab.bindingStatus !== null" [class]='fab.bindingStatus'>{{fab.bindingStatus}}</td>
        <td *ngIf="fab.pastingStatus !== null" [class]='fab.pastingStatus'>{{fab.pastingStatus}}</td>
        <td *ngIf="fab.cuttingStatus !== null" [class]='fab.cuttingStatus'>{{fab.cuttingStatus}}</td>
      </tr>
    </table>
  </mat-card> -->

  <mat-card class="printing-progress">
    <mat-card-title style="color: slategray; font-size: 2.2rem !important">Printing Status</mat-card-title>

    <div fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="5%"
    fxLayoutGap.xs="0">
    <mat-form-field fxFlex="50%" style="left: 2%; position: relative;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
  
      <mat-form-field fxFlex="50%" class="selectfield">
          <input matInput type="text" 
          ngxDaterangepickerMd
          [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY', direction :'rtl'}"
          startKey="start"
          endKey="end"
          [(ngModel)]="selected"
          placeholder="Select Date"
          name="daterange"
          (change)="change($event)"
          />
    
        </mat-form-field>
      
    </div>
    
      
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 10px;">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- JobId jobId -->
      <ng-container matColumnDef="jobId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Job Id </th>
        <td mat-cell *matCellDef="let fabrication"> {{fabrication.jobId}} </td>
      </ng-container>

      <!-- Vendor Name -->
      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor</th>
        <td mat-cell *matCellDef="let fabrication"> {{fabrication.vendor}} </td>
      </ng-container>
    
      <!-- Delivery Date Column -->
      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
        <td mat-cell *matCellDef="let fabrication"> {{fabrication.deliveryDate.split('T')[0]}} </td>
      </ng-container>
  
      <!-- Lamination Column -->
      <ng-container matColumnDef="Lamination">
        <th mat-header-cell *matHeaderCellDef> Lamination </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.laminationStatus}}"> {{fabrication.laminationStatus}} </td>
      </ng-container>
  
      <!-- Punching Column -->
      <ng-container matColumnDef="Punching">
        <th mat-header-cell *matHeaderCellDef> Punching </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.punchingStatus}}"> {{fabrication.punchingStatus}} </td>
      </ng-container>
  
      <!-- UV Column -->
      <ng-container matColumnDef="UV">
        <th mat-header-cell *matHeaderCellDef> UV </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.uvStatus}}"> {{fabrication.uvStatus}} </td>
      </ng-container>
  
      <!-- Foiling Column -->
      <ng-container matColumnDef="Foiling">
        <th mat-header-cell *matHeaderCellDef> Foiling </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.foilingStatus}}"> {{fabrication.foilingStatus}} </td>
      </ng-container>
  
      <!-- Folding Column -->
      <ng-container matColumnDef="Folding">
        <th mat-header-cell *matHeaderCellDef> Folding </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.foldingStatus}}"> {{fabrication.foldingStatus}} </td>
      </ng-container>
  
      <!-- Pinning Column -->
      <ng-container matColumnDef="Pinning">
        <th mat-header-cell *matHeaderCellDef> Pinning </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.pinningStatus}}"> {{fabrication.pinningStatus}} </td>
      </ng-container>
  
      <!-- Stitching Column -->
      <ng-container matColumnDef="Stitching">
        <th mat-header-cell *matHeaderCellDef> Stitching </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.stitchingStatus}}"> {{fabrication.stitchingStatus}} </td>
      </ng-container>
  
      <!-- Binding Column -->
      <ng-container matColumnDef="Binding">
        <th mat-header-cell *matHeaderCellDef> Binding </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.bindingStatus}}"> {{fabrication.bindingStatus}} </td>
      </ng-container>
  
      <!-- Pasting Column -->
      <ng-container matColumnDef="Pasting">
        <th mat-header-cell *matHeaderCellDef> Pasting </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.pastingStatus}}"> {{fabrication.pastingStatus}} </td>
      </ng-container>
  
      <!-- Cutting Column -->
      <ng-container matColumnDef="Cutting">
        <th mat-header-cell *matHeaderCellDef> Cutting </th>
        <td mat-cell *matCellDef="let fabrication" class="status{{fabrication.cuttingStatus}}"> {{fabrication.cuttingStatus}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="float:center"></mat-paginator>
    
  </mat-card>

</div> 

