.progress_report {
    position: relative;
    display: inline-block;
    padding: 0px !important;
    top: 5%;
    margin-left: 1%;
    width: 23%;
    height: 180px;
    text-align: center;
    color: rgb(128, 119, 119);
    border-radius: 1.54em;
}

.progress_report mat-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4rem;
    /* color: cornflowerblue; */
    left: -20% !important;
}
.mat-card-title {
    padding-top: 9px;
    font-size: 1rem !important;
    color: black;
}

hr {
    border: 2px solid rgba(221, 214, 214, 0.904);
}

.mat-card-content {
    margin-bottom: 30px;
}

.mat-card-footer {
    font-size: 1em;
}

button {
    width: 120px !important;
    height: 120px !important;
    display: inline-block;
    margin-left: 17%;
    margin-top: 4%;
    
}

/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  td:nth-child(n + 2) {
      border-radius: 1.54em;
  }

  td:empty {
    background-color: rgb(221, 220, 220);
  }
  td:nth-child(1) {
      font-size: 1em;
      color: white;
      font-weight: bold;
      background-color: rgb(109, 102, 106);
  }
  th {
      background: lightslategrey;
      color: white;
  }

  .Running {
      color: white;
      background: rgb(239, 180, 44);
  }
  .Completed {
      color: white;
      background: rgb(67, 196, 67);
  } */

table {
    width: 100%;
    color: white;
    
    margin: 5px -20px !important;

}

td:nth-child(1) {
    font-size: 1em;
    color: white;
    font-weight: bold;
    background-color: #a29da7;
}

td.mat-cell:first-child {
    padding: 5px !important;
}

.mat-header-cell {
    text-align: center;
    background-color: #6a8280;
    color: white;
    font-size: 1em;
}

.mat-cell {
    text-align: center;
    border: 1px solid white;
}

.status {
    background: #dfdae4;
    border: 1px solid white;

}

.statusCompleted {
    background: #5ce0af;
    border: 1px solid white;
    text-align: center;

}

.statusRunning {
    background: #93aeea;
    border: 1px solid white;
    text-align: center;

}

.mat-cell:empty {
    background: grey;
    border: 1px solid white;
}

.printing-progress {
    margin-bottom: 10vh;
    min-height: 500px;
    overflow-x: scroll;
}

 .selectfield {
    min-width: 570px !important;
    
} 


  
