
<mat-form-field>

  <mat-select placeholder="Select Job Id"
      formControlName="category">

      <mat-option value="1547372405715">
        1547372405715</mat-option>
      <mat-option value="1547372405718">
        1547372405718</mat-option>
      <mat-option value="1547372405729">
        1547372405729</mat-option>

  </mat-select>

</mat-form-field>

  <br>
  <button class="mat-raised-button"
          (click)="close()">
      Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()">
      Go
  </button>
