mat-card {
    margin: 3%;
    // border-radius: 1.54em;
    margin-bottom: 8%;
}

mat-label {
    // color: black !important;
    // opacity: 1 !important;
    font-size: 1rem;
    // font-weight: bold;
}

button {
    position: relative;
    top:3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.54em;
    widows: 12%;
}