
mat-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    border-radius: 1.54em;
}

// input, mat-select, mat-option {
//     text-align: center;
//     font-size: 1rem;
// }

mat-label {
    color: black !important;
    // opacity: 1 !important;
    font-size: 1rem;
    // font-weight: bold;
}

button {
    position: relative;
    top:3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.54em;
    widows: 12%;
}