
mat-card {
    position: relative;
    left: 3%;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // backface-visibility: visible;
    // transform: translate(-50%,-50%);
    width: 85%;
    // border-radius: 1.54em;
}

mat-label {
    // color: black !important;
    // opacity: 1 !important;
    font-size: 1rem;
    // font-weight: bold;
}

button {
    position: relative;
    top:3%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.54em;
    widows: 12%;
}